/* APP.css */

/* Стили для Navbar */
.navbar {
  padding: 10px 0; /* Добавить отступы сверху и снизу для Navbar */
}

/* Стили для Navbar.Brand (логотипа) */
.navbar-brand img {
  margin-right: 15px; /* Добавить отступ справа от логотипа */
}

/* Стили для Navbar.Toggle (иконки разворачивания меню на мобильных устройствах) */
.navbar-toggler {
  border: none; /* Убрать границу у иконки разворачивания меню */
}

/* Стили для Nav (ссылок навигации) */
.navbar-nav .nav-link {
  margin-right: 15px; /* Добавить отступ между ссылками навигации */
}

/* Стили для Form (формы поиска) */
.navbar-form {
  margin-left: 200px; /* Пример: установите 20 пикселей расстояния от левого края */
}

/* Стили для FormControl (поля ввода в форме поиска) */
.form-control {
  border-color: #18830b; /* Изменить цвет границы поля ввода */
}

/* Стили для Button (кнопки поиска) */
.btn {
  border-color: #17a2b8; /* Изменить цвет границы кнопки */
  color: #17a2b8; /* Изменить цвет текста кнопки */
}

.btn:hover {
  background-color: #17a2b8; /* Изменить цвет фона кнопки при наведении */
  color: #fff; /* Изменить цвет текста кнопки при наведении */
}
