.App {
  text-align: center;
}

.App-nav {
  background-color: #288048; /* Красный цвет фона меню */
  padding: 10px 0;
  position: fixed; /* Меню будет фиксированным */
  width: 100%; /* Меню будет тянуться на всю ширину */
  top: 0; /* Прижимаем меню к верху страницы */
  left: 0; /* Прижимаем меню к левому краю страницы */
  box-shadow: 0 4px 2px -2px gray; /* Тень под меню */
}

.App-button {
  background-color: #387cc7; /* Зеленый цвет фона кнопок */
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 0 5px; /* Небольшой отступ между кнопками */
  cursor: pointer;
  transition: background-color 0.3s;
}

.App-button:hover {
  background-color: darkgreen; /* Цвет кнопки при наведении */
}

.App-content {
  margin-top: 50px; /* Отступ, чтобы контент не перекрывал меню */
  padding: 20px;
}

section {
  margin-bottom: 20px;
}